Repository vianch/vianch-site-2021: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (add banner info)
  src/components/Banner/Banner.tsx
  src/components/Banner/styles/banner.scss
  src/components/Header/styles/header.scss
  src/components/index.ts
  src/pages/index.tsx
  static/images/avatar.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:art: (banner) aligh header
  src/components/Header/styles/header.scss
Due: prettier --write, stylelint --fix

:art: (banner) margin logo for mobile
  src/components/Banner/styles/banner.scss
Due: prettier --write, stylelint --fix

Victor/banner (#2)
  src/components/Banner/Banner.tsx
  src/components/Banner/styles/banner.scss
  src/components/Header/styles/header.scss
  src/components/index.ts
  src/pages/index.tsx
  static/images/avatar.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (repositories) repositories UI
  src/components/Banner/styles/banner.scss
  src/components/Repositories/Repositories.tsx
  src/components/Repositories/styles/repositories.scss
  src/components/core/Card/Card.tsx
  src/components/core/Card/styles/card.scss
  src/components/core/index.ts
  src/components/index.ts
  src/pages/index.tsx
  src/theme/lib/_colors.scss
  src/theme/lib/_skeleton.scss
  static/images/brackets.svg
  static/images/codercat.png
  static/images/octocat.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:sparkles: (repositories) add repository data layer
  src/components/Repositories/Repositories.tsx
  src/components/Repositories/styles/repositories.scss
  src/lib/index.ts
  src/lib/repositories.ts
  types/repositories.d.ts
Due: prettier --write, eslint --cache --fix, stylelint --fix

Victor/repositories (#3)
  src/components/Banner/styles/banner.scss
  src/components/Repositories/Repositories.tsx
  src/components/Repositories/styles/repositories.scss
  src/components/core/Card/Card.tsx
  src/components/core/Card/styles/card.scss
  src/components/core/index.ts
  src/components/index.ts
  src/lib/index.ts
  src/lib/repositories.ts
  src/pages/index.tsx
  src/theme/lib/_colors.scss
  src/theme/lib/_skeleton.scss
  static/images/brackets.svg
  static/images/codercat.png
  static/images/octocat.png
  types/repositories.d.ts
Due: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (clients) add clients ui
  src/components/Clients/Clients.tsx
  src/components/Clients/styles/clients.scss
  src/components/Repositories/styles/repositories.scss
  src/components/index.ts
  src/pages/index.tsx
  static/images/53w53-logo.png
  static/images/caroogo-logo.png
  static/images/huts-logo.png
  static/images/mayday-logo.png
  static/images/todaytix-logo.png
  static/images/zaga-logo.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (clients) add clients ui (#4)
  src/components/Clients/Clients.tsx
  src/components/Clients/styles/clients.scss
  src/components/Repositories/styles/repositories.scss
  src/components/index.ts
  src/pages/index.tsx
  static/images/53w53-logo.png
  static/images/caroogo-logo.png
  static/images/huts-logo.png
  static/images/mayday-logo.png
  static/images/todaytix-logo.png
  static/images/zaga-logo.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (footer) add footer component
  Dockerfile
  src/components/Clients/Clients.tsx
  src/components/Clients/styles/clients.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/styles/footer.scss
  src/components/Header/Header.tsx
  src/components/Header/Navigation.tsx
  src/components/Header/styles/header.scss
  src/components/Logo/Logo.tsx
  src/components/Logo/styles/logo.scss
  src/components/index.ts
  src/lib/repositories.ts
  src/pages/index.tsx
  static/images/bizagi-logo.png
  static/images/ccr-logo.png
  static/images/discord.png
  static/images/elephantpink-logo.png
  static/images/instagram.png
  static/images/linkedin.png
  static/images/twitter.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:lipstick: (footer) add footer component (#5)
  Dockerfile
  src/components/Clients/Clients.tsx
  src/components/Clients/styles/clients.scss
  src/components/Footer/Footer.tsx
  src/components/Footer/styles/footer.scss
  src/components/Header/Header.tsx
  src/components/Header/Navigation.tsx
  src/components/Header/styles/header.scss
  src/components/Logo/Logo.tsx
  src/components/Logo/styles/logo.scss
  src/components/index.ts
  src/lib/repositories.ts
  src/pages/index.tsx
  static/images/bizagi-logo.png
  static/images/ccr-logo.png
  static/images/discord.png
  static/images/elephantpink-logo.png
  static/images/instagram.png
  static/images/linkedin.png
  static/images/twitter.png
Due: prettier --write, eslint --cache --fix, stylelint --fix

:sparkles: (header) add header links and smooth scroller
  gatsby-config.js
  package.json
  src/components/Banner/Banner.tsx
  src/components/Clients/Clients.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Header/Navigation.tsx
  src/components/Repositories/Repositories.tsx
  src/components/core/MetaTags/Metatags.tsx
  src/components/core/index.ts
  src/pages/index.tsx
  static/favicon.ico
  yarn.lock
Due: prettier --write, eslint --cache --fix

:sparkles: (header) add header links and smooth scroller (#6)
  gatsby-config.js
  package.json
  src/components/Banner/Banner.tsx
  src/components/Clients/Clients.tsx
  src/components/Footer/Footer.tsx
  src/components/Header/Header.tsx
  src/components/Header/Navigation.tsx
  src/components/Repositories/Repositories.tsx
  src/components/core/MetaTags/Metatags.tsx
  src/components/core/index.ts
  src/pages/index.tsx
  static/favicon.ico
  yarn.lock
Due: prettier --write, eslint --cache --fix

:package: (develop) update package version
  Dockerfile
  docker-compose.yml
  package.json
Due: prettier --write

:package: (work) change package version
  package.json
Due: prettier --write

Victor/work (#7)
  package.json
  src/components/Repositories/Repositories.tsx
  src/components/Work/Work.tsx
  src/components/Work/styles/work.scss
  src/components/index.ts
  src/lib/index.ts
  src/lib/work.ts
  src/pages/index.tsx
  static/images/53w53.jpg
  static/images/caroogo.jpg
  static/images/mayday.jpg
  static/images/todaytix.jpg
  types/data.d.ts
  types/repositories.d.ts
Due: prettier --write, eslint --cache --fix, stylelint --fix

:sparkles: (add work link)
  src/components/Header/Navigation.tsx
  src/components/Work/Work.tsx
Due: prettier --write, eslint --cache --fix

:package: (develop)
  package.json
Due: prettier --write

:speech_balloon: (develop) update work description
  src/components/Work/Work.tsx
Due: prettier --write, eslint --cache --fix

:chart_with_upwards_trend: (analytics) add google tag manager
  gatsby-config.js
  package.json
  src/components/core/MetaTags/Metatags.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

:chart_with_upwards_trend: (analytics) add google tag manager (#8)
  gatsby-config.js
  package.json
  src/components/core/MetaTags/Metatags.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

:package: (develop) update version
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none

:whale: (develop) add develop docker environment
  .docker/develop/Dockerfile
  .docker/production/Dockerfile
  .dockerignore
  README.md
  docker-compose-develop.yml
  docker-compose.yml
  package.json
Due: prettier --write

:package: (develop) update gatsby dependency vulnerabilities
  .github/workflows/update-stats.yml
  package.json
  yarn.lock
Due: prettier --write

:package: (develop) update dependency packages
  yarn.lock
Due: none

:rewind: (develop) revert waka workflow
  .github/workflows/update-stats.yml
Due: none

[ImgBot] Optimize images
  static/images/53w53-logo.png
  static/images/53w53.jpg
  static/images/avatar.png
  static/images/bizagi-logo.png
  static/images/brackets.svg
  static/images/caroogo-logo.png
  static/images/caroogo.jpg
  static/images/ccr-logo.png
  static/images/codercat.png
  static/images/discord.png
  static/images/elephantpink-logo.png
  static/images/huts-logo.png
  static/images/instagram.png
  static/images/linkedin.png
  static/images/mayday-logo.png
  static/images/mayday.jpg
  static/images/octocat.png
  static/images/todaytix-logo.png
  static/images/todaytix.jpg
  static/images/twitter.png
  static/images/zaga-logo.png
Due: none

docs(develop): add changelog support
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.json) or (any of: *.{ts,tsx,js,jsx})) or (any of: *.scss)
  eslint --cache --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.scss
